{# Таблицы "Проекты" #}
{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link href="{{ asset('/css/style.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('assets/css/demo.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('assets/css/ready.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('/css/style.css') }}" type="text/css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/datepicker3.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <!--Icons-->
    <script src="js/lumino.glyphs.js"></script>

{% endblock %}

{% include 'main/navbar.html.twig' %}
<body>
<input class="form-control" id="myInput" type="text" placeholder="Введите значение для поиска.." style="margin-top:50px; margin-left: 5vh; width: 95%; border-color: green">
<table class="table" style = "margin-left: 5vh; width: 95%" id = "myTable">
    <thead>
    <tr>
        <th>Код объекта проект</th>
        <th>Код проекта</th>
        <th>Название</th>
        <th>Дата обновления</th>
        <th>Заставка</th>
        <th>Создать</th>
        <th>Изменить</th>
        <th>Удалить</th>
    </tr>
    </thead>
    <tbody>
    {% for project in projects %}
        <tr>
            <td style="width: 5%;">{{ project.id }}</td>
            <td style="width: 5%;">{{ project.idd }}</td>
            <td>{{ project.title }}</td>
            <td>{{ project.updatedAt }}</td>
            <td>{{ project.cover }}</td>
            <td><a href="#"><i class = "glyphicon glyphicon-plus-sign"></i></a></td>
            <td> <a href="{{ path('project_edit', {'id': project.id}) }}"><i class = "glyphicon glyphicon-pencil"></i></a></td>
            <td>
                <form method="post" action="{{ path('project_delete', {'id': project.id}) }}" onsubmit="return confirm('Вы уверены, что хотите удалить?');">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
                    <button class="btn"><i class = "glyphicon glyphicon-trash"></i></button>
                </form>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="1">Данных нет</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script src="{{ asset('js/script.js') }}"></script>
</body>